<table class="responsive-table">
	<thead>
		<tr>
			<th>Tipo de operação</th>
			<th>Data</th>
			<th>Valor</th>
			<th>CPF</th>
			<th>Cartão</th>
			<th>Hora</th>
			<th>Dono(a) da loja</th>
			<th>Nome da loja</th>
		</tr>
	</thead>		
	<tbody>
		<% Operation.all.each do |operation| %>
		<tr>
			<td><%= operation.operation_type %></td>
			<td><%= operation.date %></td>
			<td><%= operation.value %></td>
			<td><%= operation.cpf %></td>
			<td><%= operation.card %></td>
			<td><%= operation.hour.strftime("%H:%M:%S") %></td>
			<td><%= operation.store.owner %></td>
			<td><%= operation.store.name %></td>
		</tr>	
		<% end %>	
	</tbody>
</table>